<% @page_title = "診察券作成" %>

<h1><%= @page_title %></h1>

<p><%= link_to "カード一覧に戻る", user_clinic_cards_url(id: @user.id) %></p>

<div class="row">

<%= form_for [@user, @clinic_card] do |form| %>

<%= render "form", form: form %>

</div>

<% end %>
