<% if current_user %>
  <div class="row">
    <div class="col s10">
  <% if current_user.following?(@user) %>
    <%= link_to "フォロー解除", {controller: :users,action: :unfollow,user_id: @user.id}, method: :put, class: "btn waves-effect waves-light btn" %>
  <% else %>
    <%= link_to "フォローする", {controller: :users,action: :follow,user_id: @user.id}, method: :put, class: "btn waves-effect waves-light btn" %>
  <% end %>
    </div>
  </div>
<% end %>
