<% @user ||= current_user %>
<div class="stats">
    <strong id="following" class="stat">
      <%= @user.follow_count %>
    </strong>
    フォロー中
  |
    <strong id="followers" class="stat">
      <%= @user.followers_count %>
    </strong>
    フォロワー
</div>
