<% unless @user.follow_count == 0 %>
  <% @user.all_following.each do |user| %>
    <table>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= link_to '詳細', user_path(user) %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>フォロー中の人はいません</p>
<% end %>
