<P>
<% if current_user %>
  <%= Notice.status_text(notice.status) %> |
<% end %>
by <%= link_to notice.author.full_name, [:practice, notice.author] %> |
<%= notice.released_at.strftime("%Y/%m/%d") %>
</P>
