<% @page_title = "クーポンの編集" %>

<h1><%= @page_title %></h1>

<div class="row">

<p><%= link_to "クーポンの詳細に戻る", practice_user_coupon_url(@user, @coupon) %></p>

<%= form_for [:practice, @user, @coupon] do |form| %>

<%= render "form", form: form %>

</div>

<% end %>
