<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワード変更画面へのリンクが要求されました。下のリンクより実行できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこの操作を要求していなければ、このメールを無視して下さい。</p>
<p>そのリンクにアクセスし、新しいパスワードを設定しなければ、あなたのパスワードは変更されません。</p>
