/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 @import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.fixed-action-btn {
  position: fixed;
  top: 1px;
  right: 23px;
  margin-bottom: 0;
  z-index: 997;
}

.fixed-action-btn.horizontal ul {
  width: 600px;
  top: 48%;
}

select {
  display: inline;
}

th #short_th {
  width: 120px;
}

td #short_td {
  width: 400px;
}

table #short_t {
  width: 80%;
}


/* ツールチップ 患者一覧 */
.tooltip, .tooltip-clinic {
  position: relative;
}
.tooltip::before, .tooltip-clinic::before,
.tooltip-clinic::after, .tooltip::after {
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
//マウスオン前　吹き出し三角
.tooltip::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #81d4fa;
  bottom: -21px;
  left: 16px;
}
//ツールチップ表示 文章
.tooltip::after {
  content: attr(data-tooltip);
  display: block;
  background: #81d4fa;
  color: #fff;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  bottom: -60px;
  left: -50px;
  box-shadow: 3px 3px 4px -2px gray;
}
//マウスオン後　吹き出し三角
.tooltip-clinic:hover::before,
.tooltip:hover::before{
  bottom: -15px;
  opacity: 1;
}
//マウスオン後 文章
.tooltip:hover::after{
  bottom: -54px;
  left: -50px;
  opacity: 1;
}

/* ツールチップ　クリニック未作成 */
//マウスオン前　吹き出し三角
.tooltip-clinic::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #ce93d8;
  bottom: -21px;
  left: 30px;
}
//ツールチップ表示 文章
.tooltip-clinic::after {
  content: attr(data-tooltip);
  display: block;
  background: #ce93d8;
  color: #fff;
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  bottom: -60px;
  left: -80px;
  box-shadow: 3px 3px 4px -2px gray;
}
//マウスオン後 文章
.tooltip-clinic:hover::after{
  bottom: -54px;
  left: -80px;
  opacity: 1;
}

//プライバシーポリシー&利用規約
.homes_privacy, .homes_agreement{
  border: 5px solid #b2ebf2 ;
  border-radius: 20px;
  background-color: #e0f7fa;
  padding: 40px;
}
