<%  @page_title = "お会計詳細" %>
<h1><%=  current_user.full_name %></h1>

<p><%= link_to "会計一覧", :receipts %> | <%= link_to "編集", [:edit, @receipt] %></p>

<table class="highlight">
  <tr>
    <th>支払日</th>
    <td><%= @receipt.payday.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>コース</th>
    <td>マッサージ30分</td>
    <tr>
      <th>取得ポイント</th>
      <td>30</td>
    </tr>
  </tr>
</table>
